<h1>Enter Your Word Details:</h1>


<div class="box col-xs-10 col-xs-offset-1">
  <%= simple_form_for :new_term, url: new_term_path do |f| %>
    <%= f.input :word, as: :string %> 
    <%= f.input :speach, as: :string %>
    <%= f.input :definition, as: :string %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-danger' %>
  <% end %>
</div>