<!DOCTYPE html>
<html>
<head>
  <title>Wordster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="col-xs-3", pull-right> 
      <%= link_to 'Nomster', root_path, class: 'logo' %>
    </div>
    <br class="clear" /><br />
    <div class="col-xs-3", pull-right>
      <%= link_to new_term_path do %>
        <div class="link">New Word</div>  
      <% end %>
    </div>
  

  <br class="clear" /><br /><br />

<%= yield %>

</body>
</html>
