<!DOCTYPE html>
<html>
<head>
  <title>Wordster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="col-xs-3 logo">Wordster</div>
    <div class="col-xs-3 link"><%= link_to 'Add a word', '#' %></div>
  </header>

  <br class="clear" /><br /><br />

<%= yield %>

</body>
</html>
